<div class="date-range-picker pull-right" uib-dropdown on-toggle="dateRangePickerVm.toggled(open)" is-open="dateRangePickerVm.opened">
    <div class="input-group">
        <input type="text" class="form-control" ng-model="dateRangePickerVm.formattedRange" readonly />
        <span class="input-group-btn">
            <button id="calendar" class="btn" uib-dropdown-toggle>
                <i class="fa fa-calendar"></i>
            </button>
        </span>
    </div>
    <div class="dropdown-menu" role="menu" aria-labelledby="calendar" ng-click="$event.preventDefault();$event.stopPropagation()">
        <uib-datepicker class="datepicker pull-left" max-mode="day" show-weeks="false" show-button-bar="false" ng-required="true" ng-model="dateRangePickerVm.startDate" max-date="dateRangePickerVm.endDate"></uib-datepicker>
        <uib-datepicker class="datepicker pull-left" max-mode="day" show-weeks="false" show-button-bar="false" ng-required="true" ng-model="dateRangePickerVm.endDate" min-date="dateRangePickerVm.startDate" max-date="dateRangePickerVm.maxDate"></uib-datepicker>
    </div>    
</div>
